body {
    background-image: url(fondo-netflix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 98vh;
}

.tituloNetflix {
    font-size: 70px;
    color: red;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    margin: 5px;
}

.textoInicio {
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    
}

.textoSecundario {
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.suscripcion {
    margin-top: 10%;
}

.barraDeTexto {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 450px;
    }

.texto {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    text-align: center;
    padding-bottom: 30%;
}
.email{
    opacity: 20%;
    width: 450px;
}
.boton{
    min-width: 90px;
}
.email:hover{
    background-color: white;
    opacity: 100%;
    font-weight: bold;
    border-color: rgb(112, 3, 3) ;
}
.boton:hover{
    background-color: rgb(112, 3, 3);
    color: white;
    font-weight: bolder;
    border-color: white;
    }
    @media  (orientation : landscape) {
        body {
            margin-bottom: 20%;
        }
    }
    